- name = params[:name]
- id = LeagueApi.get_summoner_id(name)
- #find recent game
-# stats = LeagueApi.get_last_game_played("25087996")["stats"]
- stats = {}
- games = LeagueApi::Game.recent_games(id.to_s)
- #wardsPlaced (vision, sight)
- swb = stats["sightWardsBought"] || 0
- vwb = stats["visionWardsBought"] || 0
- wp = stats["wardPlaced"] || 0
- wk = stats["wardKilled"] || 0

%h1 Does #{name} place wards?
 
- count = 1
- validGameCount = 0.00
- games.each do |g|
	%h2 Game #{count}: #{g["gameMode"]}
	- if g["gameMode"] == "CLASSIC"
		-	validGameCount += 1.00

	- count += 1
	%ul
		%li Sight Wards Bought: #{bought_wards=g["stats"]["sightWardsBought"] || 0}
		%li Vision Wards Bought: #{bought_vision=g["stats"]["visionWardsBought"] || 0}
		%li Sight Wards Placed: #{placed_wards=g["stats"]["wardPlaced"] || 0}
		%li Wards Killed: #{killed_wards=g["stats"]["wardKilled"] || 0}

	%h4 Raw Stats
	%p
	= g["stats"]

	- swb += bought_wards
	- vwb += bought_vision
	- wp += placed_wards
	- wk += killed_wards

%h1 Average over last #{validGameCount.to_i} Rift Games
%ul 
	%li Sight Wards Bought: #{ (swb/validGameCount).round(2) }
	%li Vision Wards Bought: #{ (vwb/validGameCount).round(2) }
	%li Sight Wards Placed: #{ (wp/validGameCount).round(2) }
	%li Wards Killed: #{ (wk/validGameCount).round(2) }

